<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <link rel="stylesheet" href="static/admin.css">
</head>

<body>

  <h1>Welcome Admin</h1>
  <div class="header">
    <a id="a_logout" href="/logout">Logout</a>
    <a id="a_back" href="/login">Back</a>
  </div>

  <a href="/users">See All Users</a>

</body>

</html>
